
   
  html {
      font-size: 16px;
  }
   
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #e2e3ed;
    text-align: left;
  }
   
  ul, 
  ol {
   list-style-type: none;
  }
   
  a {
    color: #e2e3ed;
    text-decoration: none;
  }
   
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.875em;
  }
   
  h3, 
  h4 {
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    font-size: 1.125em;
  }
   
  p {
    font-size: .875em;
    line-height: 1.285;
  }
  
  img {
    width: 100%;
   }
  
  
  half-width {
    display: flex;
    margin: 0;
  }
   
  address {

    font-style: normal;
   }
    
   .content-wrapper {
     width: 90%;
     margin: 50px 0;
   }
  
/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
 background-color: #202322;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-flow: row wrap;
}

header {
  padding: 15px 0;
}

footer {
  background: #a78362;
  text-align: center;
  flex-direction: column;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 75%;
  margin: 75px 0;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  background-color: #975519;
  border-radius: 100%;
  width: 40px;
  height: 40px;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

footer .social-icons p i {
  font-size: 1.3125em;
}

footer .copyright {
  margin: 20px 0;
}


/***** HEADER ****/


header {
    align-items: center;
    background: url('../img/hero.jpg');
    background-size: cover;
    display: flex;
    height: 550px;
    justify-content: center;
}

header h1 {
  color: white;
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500; 
  line-height: 1.2;
  text-align: center; 
}

/***** work *****/


.work {
  background-color: #a78362; 
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* About */

.about {
  background-color: #975519;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.about h2 {

  line-height: 1;
}

.about h3 {
  width: 55%;
  margin: 20px 0;
}

/***** CONTACT *****/

.contact {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.contact h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.contact h3 {
  width: 55%;
  margin: 20px 0;
}

.contact ul {
  list-style: none;
}

@media only screen and (min-width:768px) {
  /*Tablet styles here*/

  /* General styles */
  .content-wrapper {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    justify-content: space-around;
    max-width: 640px;
    margin: 100px 0;
  }
      
  h2 {
    font-size: 2.25em;
    line-height: 1.333;
  }

  h3 {
      font-size: 1.5em;
      line-height: 1.25;
  }

  .content-wrapper {
    max-width: 960px;
  }

  /* Header */
  header {
    justify-content: space-around;
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  /* Work */

  .work .content-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 0;
    
    text-align: center;
  }

   .work .half-width {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding: 0 35px 0 50px; 
    text-align: center;
    
    width: 50%;
   }

   img {
    width: 100%;
    height: auto;
  }

  /* About */

  .about .content-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px 50px 10px 50px;
  }

   .about .half-width {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
 
    text-align: center;
    width: 50%;
   }

   img {
    width: 100%;
    height: auto;
  }

}





